:root {
    --primary-light: #1bfe9e50;
    --primary: #1bfe9e;
    --primary-transparent:#1bfe9fb8;
    --primary-transparent-2:#1bfe9f2d;
    --primary-dark: #09be73;
    --bs-border-color:#1bfe9e;
    --secondary-light: #351985;
    --bs-body-color:#1bfe9e;
    --bs-focus-ring-color:#1bfe9fb8;
    --bs-body-bg:#150935;
    --secondary: #150935;
    --secondary-dark: #09031f;
    --darkness: #04010e;
    --radius: 5px;
    --radius-top: 5px 5px 0px 0px;
    --radius-right: 0px 5px 5px 0px;
    --radius-bottom: 0px 0px 5px 5px;
    --radius-left: 5px 0px 0px 5px;
    --sahdow: 2px 4px 10px var(--secondary-dark);
    --sahdow-lg: 4px 8px 20px var(--secondary-dark);
    --border: 1px solid var(--primary);
    --glow: 0px 0px 5px var(--primary-light), 0px 0px 15px var(--primary), 0px 0px 25px var(--primary);
    --glower: 0px 0px 2px var(--primary-light), 0px 0px 7px var(--primary), 0px 0px 13px var(--primary);
}